<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stoned Sweets</title>
        <link rel="icon" href="/images/pp.jpg" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css"> <!-- Your custom CSS file -->
    </head>
 </head>
<body>
  <header class="navbar">
    <img src="/images/logo.png" alt="Stonedsweets Logo">
    <h1>Stonedsweets</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">shop</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
  <div class="container">
    <h2>Login</h2>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>