<!-- views/orderSummary.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Welcome to MiniEats Ke, your home away from home. Experience luxury, comfort, and exquisite cuisine in the heart of Kenya.">
        <meta name="keywords" content="hotel, MiniEats Ke, luxury hotel, Kenya, accommodation, restaurant, travel">
        <meta name="author" content="MiniEats Ke">
        <meta property="og:title" content="MiniEats Ke - Your Luxury Hotel in Kenya">
        <meta property="og:description" content="Experience luxury, comfort, and exquisite cuisine in the heart of Kenya at MiniEats Ke.">
        <meta property="og:image" content="https://www.yourwebsite.com/images/og-image.jpg">
        <meta property="og:url" content="https://www.yourwebsite.com">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="MiniEats Ke - Your Luxury Hotel in Kenya">
        <meta name="twitter:description" content="Experience luxury, comfort, and exquisite cuisine in the heart of Kenya at MiniEats Ke.">
        <meta name="twitter:image" content="https://www.yourwebsite.com/images/twitter-image.jpg">
        <link rel="icon" href="/images/pp.jpg" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>MiniEats Ke - Summary</title>
    </head>
<body>
  <main>
  <h1>Order Summary</h1>
  <nav>
    <ul>
        <li><a href="/admin">Admin</a></li>
    </ul>
   </nav>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Total Orders</th>
        <th>Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% summary.forEach(day => { %>
        <tr>
          <td><%= day._id %></td>
          <td><%= day.totalOrders %></td>
          <td><%= day.totalRevenue.toFixed(2) %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
</body>
</html>
